<ion-view>
    <toaster-container style="margin-top: 20%" class="padding" toaster-options="{'toaster-id': 4, 'position-class': 'toast-top-full-width'}"></toaster-container>
    <ion-pane style="background: url('./images/background.jpg')" view-title="Login" name="login-view" class="padding">
        <img class="center-login-logo" src="./images/litengul.png" alt="">

        <div class="center-login">
            <ion-content>
                <div class="list list-inset">
                    <label class="item item-input">
                <input type="text" placeholder="Användarnamn (AD)" ng-model="vm.loginForm.userName">
            </label>
                    <label class="item item-input">
                <input type="password" placeholder="Lösenord (AD)" ng-model="vm.loginForm.password">
            </label>
                </div>
                <button style="color: #F6A01C" class="button button-block button-dark" ng-click="vm.login()">
            Logga in
        </button>
            </ion-content>
        </div>
    </ion-pane>
</ion-view>