<!-- Header bar (inc. Back-button & ITM logo) -->
<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-energized">

    <!-- Lunch Tab -->
    <ion-tab icon="ion-android-restaurant" title="Lunch" href="lunch" ng-if="vm.loggedIn">
        <ion-nav-view name="tab-lunch">
            <ion-nav-bar class="bar-dark item-icon-left">
                <ion-nav-title>
                    <a class="title"><img src="images/litengul.png" style="height: 50px; width: 55px; "></a>
                </ion-nav-title>
            </ion-nav-bar>
        </ion-nav-view>
    </ion-tab>

    <!-- Absence tab -->
    <ion-tab icon="ion-ios-person" title="Frånvaro" href="absence" ng-if="vm.loggedIn">
        <ion-nav-view name="tab-absence">
            <ion-nav-bar class="bar-dark item-icon-left">
                <ion-nav-title>
                    <a class="title"><img src="images/litengul.png" style="height: 50px; width: 55px; "></a>
                </ion-nav-title>
            </ion-nav-bar>
        </ion-nav-view>
    </ion-tab>

    <!-- News tab -->
    <!--<ion-tab icon="ion-earth" title="Intranet" href="#/tab/news" ng-if="vm.loggedIn">
        <ion-nav-view name="tab-news">
            <ion-nav-bar class="bar-dark item-icon-left">
                <ion-nav-title>
                    <a class="title"><img src="images/litengul.png" style="height: 50px; width: 55px; "></a>
                </ion-nav-title>
            </ion-nav-bar>
            </ion-nav-view>
    </ion-tab>-->

    <!-- Settings Tab -->
    <ion-tab icon="ion-gear-a" title="Inställningar" href="settings" ng-if="vm.loggedIn">
        <ion-nav-view name="tab-settings">
            <ion-nav-bar class="bar-dark item-icon-left">
                <ion-nav-title>
                    <a class="title"><img src="images/litengul.png" style="height: 50px; width: 55px; "></a>
                </ion-nav-title>
            </ion-nav-bar>
            </ion-nav-view>
    </ion-tab>
</ion-tabs>