<div class="modal">
    <div class="bar bar-header bar-dark">
        <ion-button style="color: #F6A01C" class="button icon-left ion-chevron-left button-clear" ng-click="vm.leaveAddChangeDialog()"></ion-button>
        <h1 class="title" '>Frånvaro-anmälan</h1>
    </div>
    <ion-content class="has-header">
        <form name="form" ng-model="form">
            <ion-list>
                <div class="list">
                    
                    <label class="item item-input item-select">
            <div class="input-label">Frånvaro: </div>
            <select style="width: 100%;" name="absence" id="absence" ng-model="vm.absence"  ng-options="absence.Name for absence in vm.absenceData track by absence.Id">
            </select>
        </label>
                </div>
                Start
                <input type="date" style="width: 100%;" id="startdate" name="startdate" ng-model="vm.startDate"></input>
                <br/> Tillbaka (frivillig)
                <input type="date" style="width: 100%;" id="enddate" name="enddate" ng-model="vm.endDate"></input>
                <br/>
                <ion-button style="color: #F6A01C;" ng-show="vm.action == 'add'" ng-init="saveEmpty(form)" class=" button button-dark button-block" ng-click="vm.addEmpAbs(form)">
                    Lägg Till
                </ion-button>
                <ion-button style="color: #F6A01C;" ng-show="vm.action == 'change'" class=" button button-dark button-block" ng-click="vm.editAbsence(form)">
                    Ändra
                </ion-button>                
            </ion-list>
        <toaster-container toaster-options="{'position-class': 'toast-top-full-width'}"></toaster-container>        
            
        </form>
    </ion-content>
</div>