<ion-view>
    <ion-nav-buttons side="right">
        <a style="color: #F6A01C;" class="button button-clear icon-left ion-plus" ng-click="vm.showModal()"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item id="wrapper" ng-repeat="lunch in vm.lunchList.data | filter:{Removed:false}">
                <div ng-click="vm.showDetails({{lunch.Id}})">
                    <div class="upper-box">
                        <h3>{{lunch.Restaurant.Name}}</h3>
                        <div id="members{{lunch.Id}}" hidden="true">
                            <div>
                                <div class="box-template">
                                    <div ng-repeat="employee in lunch.EmployeesList">
                                        {{employee.Name}}
                                    </div>
                                    <button ng-hide="vm.showButton(lunch.EmployeesList)" ng-click="vm.joinLunch(lunch)" class="button button-block button-energized"><strong class="itm-black">GÅ MED</strong></button>
                                    <button ng-hide="!vm.showButton(lunch.EmployeesList)" ng-click="vm.leaveLunch(lunch)" class="button button-block button-assertive"><strong class="itm-black">GÅ UR</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row itm-color">
                        <div class="col col-30 col-offset-10"><strong ng-show="vm.dateCheck(lunch.LunchTime)">Idag {{lunch.LunchTime | date:'HH:mm':CET}}</strong>
                            <strong ng-show="!vm.dateCheck(lunch.LunchTime)">{{lunch.LunchTime | date:'M/d HH:mm':CET}}</strong>
                        </div>
                        <div class="col col-40">Antal Deltagare: <strong>{{(lunch.EmployeesList | filter:search:strict).length}}</strong></div>
                        <ion-option-button style="color: #fff" class="button-assertive icon ion-trash-a" ng-click="vm.removeLunch($index)"></ion-option-button>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <toaster-container toaster-options="{'toaster-id': 1, 'position-class': 'toast-top-full-width'}"></toaster-container>
        <toaster-container toaster-options="{'toaster-id': 2, 'position-class': 'toast-top-full-width'}"></toaster-container>
        <toaster-container toaster-options="{'toaster-id': 3, 'position-class': 'toast-top-full-width'}"></toaster-container>
        <toaster-container toaster-options="{'toaster-id': 4, 'position-class': 'toast-top-full-width'}"></toaster-container>
    </ion-content>
</ion-view>

<script id="newlunch-modal.html" type="text/ng-template">
    <ion-modal-view ng-model="vm.value">
        <ion-header-bar class="bar bar-header bar-dark">
            <ion-button style="color: #F6A01C" class="button icon-left ion-chevron-left button-clear" ng-click="vm.closeModal()"></ion-button>
            <h1 class="title">Lägg till en lunch</h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <form name="form" ng-model="form">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">Restaurang: 
                        </div>
                        <select style="width: 100%;" name="restaurant" id="restaurant" ng-model="vm.restaurant"  ng-options="restaurant.Name for restaurant in vm.restaurantData | orderBy:'Name ' track by     restaurant.Id">
                        </select>
                    </label>
                </div>
                <div class="input-label">Tid: <input required name="time" id="time" ng-model="vm.lunchDate" type="datetime-local" /></div>
                <div class="padding-button-top">
                    <ion-button ng-init="saveEmpty(form)" class="itm-orange button button-dark button-block" ng-click="vm.createLunch(form)">
                        Lägg Till
                    </ion-button>
                </div>
                        <toaster-container toaster-options="{'position-class': 'toast-top-full-width'}"></toaster-container>        
            </form>
        </ion-content>
    </ion-modal-view>
</script>



<!--  <div class="swiper-container" swiper>
            <div class="swiper-wrapper" is-loaded>
                <div class="swiper-slide" ng-repeat="lunch in vm.lunchList.data" is-loaded style="background-image:url(images/{{lunch.Restaurant.ImagePath}})">
                    <div class="upper-box">
                        <h4>{{lunch.Restaurant.Name}}</h4>
                        <h5>{{lunch.LunchTime | date:'HH:mm'}}</h5>
                    </div>
                    <div class=" box-template">
                        <div ng-repeat="employee in lunch.EmployeesList">
                            <div style="font-size: 18px">{{employee.Name}}</div>
                        </div>
                    </div>
                    <button ng-click="vm.joinLunch(lunch.Id)" class="bottom-button button-block button button-energized"><strong>JAG VILL MED</strong></button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>-->



<!--
<ion-slide-box on-slide-changed="slideChanged(index)">
            <ion-slide ng-repeat="lunch in vm.lunchList.data | filter:{Removed:false}" style="background-image:url(images/{{lunch.Restaurant.ImagePath}})">
                <div class="upper-box">
                        <h4>{{lunch.Restaurant.Name}}</h4>
                        <h5>{{lunch.LunchTime | date:'HH:mm'}}</h5>
                    </div>
                    <div class=" box-template">
                        <div ng-repeat="employee in lunch.EmployeesList">
                            <div style="font-size: 18px">{{employee.Name}}</div>
                        </div>
                    </div>
                    <button ng-click="vm.joinLunch(lunch.Id)" class="bottom-button button-block button button-energized"><strong>JAG VILL MED</strong></button>
                </div>
            </ion-slide>
        </ion-slide-box>-->


<!--<ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
        <h3>Thank you for choosing the Awesome App!</h3>
        <div id="logo">
            <img src="http://code.ionicframework.com/assets/img/app_icon.png">
        </div>
        <p>
            We've worked super hard to make you happy.
        </p>
        <p>
            But if you are angry, too bad.
        </p>
    </ion-slide>
    <ion-slide>
        <h3>Using Awesome</h3>

        <div id="list">
            <h5>Just three steps:</h5>
            <ol>
                <li>Be awesome</li>
                <li>Stay awesome</li>
                <li>There is no step 3</li>
            </ol>
        </div>
    </ion-slide>
    <ion-slide>
        <h3>Any questions?</h3>
        <p>
            Too bad!
        </p>
    </ion-slide>
</ion-slide-box>-->

<!--<ion-list>
            
            <ion-item id="wrapper" ng-repeat="lunch in vm.lunchList.data | filter:{Removed:false}">
                
                <div ng-click="vm.joinLunch(lunch.Id)" class="">
                    <div  class="upper-box">
                        <h3>{{lunch.Restaurant.Name}}</h3>
                    </div>
                    <div class="row itm-color">
                        <div class="col col-30 col-offset-10"><strong>{{lunch.LunchTime | date:'HH:mm'}}</strong></div>
                        <div class="col col-40">Antal Deltagare: <strong>{{(lunch.EmployeesList | filter:search:strict).length}}</strong></div>
                        <ion-option-button class="button-positive icon ion-edit" ng-click="vm.showEditAbsence(empAbs)"></ion-option-button>
                        <ion-option-button style="color: #fff" class="button-assertive icon ion-trash-a" ng-click="vm.removeItem($index)"></ion-option-button>
                    </div>
                </div>
            </ion-item>
        </ion-list>-->