<ion-view>
    <ion-nav-buttons side="right">
        <a style="color: #F6A01C;" class="button button-clear icon-left ion-plus" ng-click=""></a>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="swiper-container" swiper>
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="lunch in vm.lunchList.data" is-loaded style="background-image:url(images/{{lunch.Restaurant.ImagePath}})">
                    <div class="upper-box">
                        <h4>{{lunch.Restaurant.Name}}</h4>
                        <h5>{{lunch.LunchTime | date:'HH:mm'}}</h5>
                    </div>
                    <div class=" box-template">
                        <div ng-repeat="employee in lunch.EmployeesList">
                            <div style="font-size: 18px">{{employee.Name}}</div>
                        </div>
                    </div>
                    <button ng-click="vm.joinLunch(lunch.Id)" class="bottom-button button-block button button-energized"><strong>JAG VILL MED</strong></button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </ion-content>
</ion-view>
